{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "proseWrap": "always",
  "tabWidth": 2,
  "bracketSpacing": true,
  "semi": true,
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*/.svelte",
      "options": {
        "parser": "svelte",
        "svelteBracketNewLine": true,
        "svelteSortOrder": "options-scripts-markup-styles",
        "svelteStrictMode": false,
        "svelteAllowShorthand": true
      }
    },

    {
      "files": [".prettierrc", ".eslintrc"],
      "options": {
        "parser": "json"
      }
    },

    {
      "files": ["package.json"],
      "options": {
        "printWidth": 180
      }
    }
  ]
}
